# Bytecode & Cache
__pycache__/
*.py[cod]
*.log

# Virtuelle Umgebungen
venv*/
env*/

# Systemdateien
.DS_Store
Thumbs.db

# FFmpeg-Binaries (optional – je nach Setup)
ffmpeg/

# Temporäre Scan-Ergebnisse
scanned/

# Modelle (nicht versionieren!)
*.h5

# Lokale Secrets & Tokens
tokens.json
